@page "{engineID?}"
@model ASP_site.Pages.Engines.EnginesModel

@{
  ViewData["Title"] = Model.Engine.Name;
}
<div class="jumbotron p-2">
  <h1 class="display-4">
    @Model.Engine.Name - @Model.Engine.Year
  </h1>
</div>
<hr/>
<div>@Model.Engine.Description</div>
<hr/>

<div class="d-flex align-items-center justify-content-center">
  <div class="engine-tree">
    @if(Model.Engine.ParentID != null && Model.Engine.ParentID != "") {
      <div class="parent-engine text-center mb-3">
        <a class="" asp-page="./Engine" asp-route-EngineID="@Model.Engine.ParentID">@Model.Engine.ParentID</a>
        <div class="tree-line">↓</div>
      </div>
    }
    
    <div class="current-engine text-center mb-3 position-relative">
      <div class="fw-bold">@Model.Engine.Name</div>
      @if(Model.Engine.Games.Count > 0) {
        <div class="games-list">
          <div class="mx-2">→</div>
          <div class="ps-3">
            @foreach(var game in Model.Engine.Games) {
              <div class="mb-1">
                <a asp-page="/Games/Game" asp-route-GameID="@game.GameID">@game.Name - @game.Year</a>
              </div>
            }
          </div>
        </div>
      }
    </div>

    @if(Model.Engine.Children.Count > 0) {
      <div class="tree-line text-center">↓</div>
      <div class="children-engines text-center">
        @foreach(var child in Model.Engine.Children) {
          <a class="d-inline-block mx-2" asp-page="./Engine" asp-route-EngineID="@child.EngineID">@child.Name (@child.Year)</a>
        }
      </div>
    }
  </div>
</div>
<hr/>