@page
@model ASP_site.Pages.Engines.IndexModel

@{
  ViewData["Title"] = "Engines List";
}

<div class="jumbotron p-2 d-flex justify-content-between">
  <h2 class="mr-auto display-3">Engines List</h2>
  <form class="d-flex">
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SearchString" class="control-label">Name:</label>
    <input class="form-control" type="text" asp-for="SearchString" />
    <input class="form-control" type="submit" value="Search" class="btn btn-primary btn-sm mr-auto" />
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SortField" class="control-label">Sort by:</label>
    <select class="form-control" asp-for="SortField" onchange="this.form.submit();">
      <option value="Year">Year</option>
      <option value="Name">Name</option>
      <option value="Engine">Engine</option>
    </select>
    </div>
  </form>    
</div>

<section class="grid">
  <div class="row bg-dark text-white fw-bold g-0">
    <div class="p-1 text-center col-2">Year</div>
    <div class="p-1 col-3">Engine</div>
    <div class="p-1 col">Name</div>
  </div>

  @if(Model.Engines != null) {
    @foreach (Engine e in Model.Engines) {
      <a class="row g-0 text-decoration-none text-reset @Model.EngineClass(e)" asp-page="./Engine" asp-route-EngineID="@e.EngineID">
        <div class="p-1 text-center col-2">@e.Year</div>
        <div class="p-1 col-3">@e.EngineID</div>
        <div class="p-1 col">@e.Name</div>
      </a>
    }
  }
</section>
