@page "/Games/{gameID?}"
@model ASP_site.Pages.Games.GamesModel

@{
    ViewData["Title"] = @Model.Game?.Name;
}
<div class="jumbotron p-2">
  <h1 class="display-4">
    @Model.Game?.Name <small class="text-muted">- @Model.Game?.Genre - @Model.Game?.Year</small>
  </h1>
</div>
<hr/>
@if(Model.Game?.Description != null)
{
  <div>@Model.Game.Description</div>
  <hr/>
}
@if(Model.Game?.EngineID != null)
{
  <div>Engine: <a class="" asp-page="/Engines/Engine" asp-route-EngineID="@Model.Game.EngineID">@Model.Game.EngineID</a></div>
  <hr/>
}
@if(Model.Game?.ModForGameID != null && Model.Game.ModForGameID != "")
{
  <div>Mod for: <a class="" asp-page="./Game" asp-route-GameID="@Model.Game.ModForGameID">@Model.Game.ModForGameID</a></div>
  <hr/>
}
@if(Model.GameLinks.Count > 0) 
{
    <div>
        <h4>Links:</h4>
        <ul>
          @foreach(Link link in Model.GameLinks)
          {
            <li>@link.LinkType: <a href="@link.Url">@link.Label</a> - @link.Description</li>
          }
        </ul>
    </div>
    <hr/>
} else { 
    <div>No links available.</div>
    <hr/>
}
@if(Model.Game?.ReleaseDates.Length > 0) 
{
  <div>
    <h4>Release Dates:</h4>
    <ul>
      @foreach(ReleaseDate releaseDate in Model.Game.ReleaseDates)
      {
        <li>@ReleaseDate.FormatReleaseType(releaseDate.ReleaseVersion) - @{
          if (releaseDate.Day.HasValue && releaseDate.Month.HasValue)
          {
            @($"{System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(releaseDate.Month.Value)} {releaseDate.Day:D2}, {releaseDate.Year}")
          }
          else if (releaseDate.Month.HasValue)
          {
            @($"{System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(releaseDate.Month.Value)} {releaseDate.Year}")
          }
          else
          {
            @releaseDate.Year
          }
        } - @ReleaseDate.FormatRegion(releaseDate.Region)</li>
     }
    </ul>
  </div>
  <hr/>
} else { <div>No release dates available.</div>
<hr/>}
@if(Model.Game?.Mods.Count > 0) 
{
  <div>
    <h4>Mods for this game:</h4>
    <ul>
      @foreach(Game mod in Model.Game.Mods)
      {
        <li><a asp-page="./Game" asp-route-GameID="@mod.GameID">@mod.Name</a> - @mod.Year</li>
      }
    </ul>
  </div>
  <hr/>
}
@if(Model.Game?.Servers.Count > 0)
{
  <div>
    <h4>Servers for this game:</h4>
    <ul>
      @foreach(Server server in Model.Game.Servers)
      {
        <li>
          <a href="https://www.gametracker.com/server_info/@server.IPAddress/" target="_blank">
            <img src="https://cache.gametracker.com/server_info/@server.IPAddress/b_350_20_5a6c3e_383f2d_d2e1b5_2e3226.png" 
              border="0" 
              width="350" 
              height="20"
              alt="@server.Name"/>
          </a>
        </li>
      }
    </ul>
  </div>
  <hr/>
}

