@page
@model ASP_site.Pages.Games.IndexModel

@{
  ViewData["Title"] = "Games List";
}

<div class="jumbotron p-2 d-flex justify-content-between">
  <h2 class="mr-auto display-3">Games List</h2>
  <form class="d-flex">
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SelectedEngine" class="control-label">Engine:</label>
    <select class="form-control" asp-for="SelectedEngine" asp-items="Model.Engines" onchange="this.form.submit();">
      <option value="">All</option>
    </select>
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SelectedGenre" class="control-label">Genre:</label>
    <select class="form-control" asp-for="SelectedGenre" asp-items="Model.SelectGenres" onchange="this.form.submit();">
      <option value="">All</option>
    </select>
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SearchString" class="control-label">Name:</label>
    <input class="form-control" type="text" asp-for="SearchString" />
    <input class="form-control" type="submit" value="Search" class="btn btn-primary btn-sm mr-auto" />
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SortField" class="control-label">Sort by:</label>
    <select class="form-control" asp-for="SortField" onchange="this.form.submit();">
      <option value="Year">Year</option>
      <option value="Name">Name</option>
      <option value="Engine">Engine</option>
    </select>
    </div>
  </form>    
</div>

<section class="grid">
  <div class="d-flex bg-dark text-white fw-bold">
    <div class="p-1" style="flex:0 0 7%">Year</div>
    <div class="p-1" style="flex:0 0 12%">Name</div>
    <div class="p-1" style="flex:0 0 10%">Engine</div>
    <div class="p-1" style="flex:0 0 7%">Genre</div>
    <div class="p-1" style="flex:0 0 7%">Free</div>
    <div class="p-1" style="flex:0 0 7%">Paid</div>
    <div class="p-1" style="flex:0 0 10%">Developer</div>
    <div class="p-1" style="flex:0 0 10%">Dev Maintained</div>
    <div class="p-1" style="flex:0 0 10%">Community Maintained</div>
    <div class="p-1" style="flex:0 0 10%">Needs Patches</div>
    <div class="p-1" style="flex:0 0 10%">Mod For</div>
  </div>

  @if(Model.Games != null) {
    @foreach (Game g in Model.Games) {
      <a class="d-flex @Model.GameClass(g)" asp-page="./Game" asp-route-GameID="@g.GameID">
        <div class="p-1" style="flex:0 0 7%">@(g.Year?.ToString() ?? "-")</div>
        <div class="p-1" style="flex:0 0 12%">@(g.Name ?? "-")</div>
        <div class="p-1" style="flex:0 0 10%">@(g.EngineID ?? "-")</div>
        <div class="p-1" style="flex:0 0 7%">@(g.Genre?.ToString() ?? "-")</div>
        <div class="p-1" style="flex:0 0 7%">@(g.IsFree == true ? "Yes" : g.IsFree == false ? "No" : "-")</div>
        <div class="p-1" style="flex:0 0 7%">@(g.IsPaid == true ? "Yes" : g.IsPaid == false ? "No" : "-")</div>
        <div class="p-1" style="flex:0 0 10%">@(g.Developer ?? "-")</div>
        <div class="p-1" style="flex:0 0 10%">@(g.IsDeveloperMaintained == true ? "Yes" : g.IsDeveloperMaintained == false ? "No" : "-")</div>
        <div class="p-1" style="flex:0 0 10%">@(g.IsCommunityMaintained == true ? "Yes" : g.IsCommunityMaintained == false ? "No" : "-")</div>
        <div class="p-1" style="flex:0 0 10%">@(g.RequiresCommunityPatch ? "Yes" : "No")</div>
        <div class="p-1" style="flex:0 0 10%">@(string.IsNullOrEmpty(g.ModForGameID) ? "-" : g.ModForGameID)</div>
      </a>
    }
  }
</section>
