@page
@model ASP_site.Pages.Games.IndexModel

@{
  ViewData["Title"] = "Games List";
}

<div class="jumbotron p-2 d-flex justify-content-between">
  <h2 class="mr-auto display-3">Games List</h2>
  <form class="d-flex">
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SelectedEngine" class="control-label">Engine:</label>
    <select class="form-control" asp-for="SelectedEngine" asp-items="Model.Engines" onchange="this.form.submit();">
      <option value="">All</option>
    </select>
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SelectedGenre" class="control-label">Genre:</label>
    <select class="form-control" asp-for="SelectedGenre" asp-items="Model.SelectGenres" onchange="this.form.submit();">
      <option value="">All</option>
    </select>
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SearchString" class="control-label">Name:</label>
    <input class="form-control" type="text" asp-for="SearchString" />
    <input class="form-control" type="submit" value="Search" class="btn btn-primary btn-sm mr-auto" />
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SortField" class="control-label">Sort by:</label>
    <select class="form-control" asp-for="SortField" onchange="this.form.submit();">
      <option value="Year">Year</option>
      <option value="Name">Name</option>
      <option value="Engine">Engine</option>
    </select>
    </div>
  </form>    
</div>

<section class="grid">
  <div class="d-flex bg-dark text-white fw-bold">
    <div class="p-1 text-end" style="flex:0 0 4%">Year</div>
    <div class="p-1" style="flex:0 0 25%">Name</div>
    <div class="p-1 text-center" style="flex:0 0 10%">Engine</div>
    <div class="p-1 text-center" style="flex:0 0 4%">Genre</div>
    <div class="p-1 text-center" style="flex:0 0 15%">Availability</div>
    <div class="p-1 text-center" style="flex:0 0 15%">Developer</div>
    <div class="p-1 text-center" style="flex:0 0 17%">Maintenance Status</div>
  </div>

  @if(Model.Games != null) {
    @foreach (Game g in Model.Games) {
      <a class="d-flex @Model.GameClass(g)" asp-page="./Game" asp-route-GameID="@g.GameID">
        <div class="p-1 text-end" style="flex:0 0 4%">@(g.Year?.ToString() ?? "-")</div>
        <div class="p-1" style="flex:0 0 25%">
          @(g.Name ?? "-")
          @if (!string.IsNullOrEmpty(g.ModForGameID))
          {
            @($" ({g.ModForGameID} mod)")
          }
        </div>
        <div class="p-1 text-center" style="flex:0 0 10%">@(g.EngineID ?? "-")</div>
        <div class="p-1 text-center" style="flex:0 0 4%">@(g.Genre?.ToString() ?? "-")</div>
        <div class="p-1 text-center" style="flex:0 0 15%">
          @if (g.IsOpenSource == true)
          {
            @("Open Source")
            @if (g.IsPaid == true)
            {
              @(" and Paid")
            }
          }
          else
          {
            @if (g.IsFree == true)
            {
              @("Free")
              @if (g.IsPaid == true)
              {
                @(" and Paid")
              }
            }
            else if (g.IsPaid == true)
            {
              @("Paid")
            }
            else
            {
              @("-")
            }
          }
        </div>
        <div class="p-1 text-center" style="flex:0 0 15%">@(g.Developer ?? "-")</div>
        <div class="p-1 text-center" style="flex:0 0 17%">
          @if (g.RequiresCommunityPatch)
          {
            @("Needs Patches")
          }
          else if (g.IsDeveloperMaintained == true && g.IsCommunityMaintained == true)
          {
            @("Dev and Comm. Maintained")
          }
          else if (g.IsDeveloperMaintained == true)
          {
            @("Dev Maintained")
          }
          else if (g.IsCommunityMaintained == true)
          {
            @("Community Maintained")
          }
          else if (g.IsDeveloperMaintained == false && g.IsCommunityMaintained == false)
          {
            @("No Maintenance")
          }
          else
          {
            @("-")
          }
        </div>
      </a>
    }
  }
</section>
