@page
@model ASP_site.Pages.Games.IndexModel

@{
  ViewData["Title"] = "Games List";
}

<div class="jumbotron p-2 d-flex justify-content-between">
  <h2 class="mr-auto display-3">Games List</h2>
  <form class="d-flex">
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SelectedEngine" class="control-label">Engine:</label>
    <select class="form-control" asp-for="SelectedEngine" asp-items="Model.Engines" onchange="this.form.submit();">
      <option value="">All</option>
    </select>
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SelectedGenre" class="control-label">Genre:</label>
    <select class="form-control" asp-for="SelectedGenre" asp-items="Model.SelectGenres" onchange="this.form.submit();">
      <option value="">All</option>
    </select>
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SearchString" class="control-label">Name:</label>
    <input class="form-control" type="text" asp-for="SearchString" />
    <input class="form-control" type="submit" value="Search" class="btn btn-primary btn-sm mr-auto" />
    </div>
    <div class="form-group ps-2">
    <label class="col-form-label" asp-for="SortField" class="control-label">Sort by:</label>
    <select class="form-control" asp-for="SortField" onchange="this.form.submit();">
      <option value="Year">Year</option>
      <option value="Name">Name</option>
      <option value="Engine">Engine</option>
    </select>
    </div>
  </form>    
</div>

<section class="grid">
  <div class="d-flex bg-dark text-white fw-bold">
    <div class="p-1 text-end" style="flex:0 0 4%">Year</div>
    <div class="p-1" style="flex:0 0 25%">Name</div>
    <div class="p-1 text-center" style="flex:0 0 10%">Engine</div>
    <div class="p-1 text-center" style="flex:0 0 4%">Genre</div>
    <div class="p-1 text-center" style="flex:0 0 15%">Availability</div>
    <div class="p-1 text-center" style="flex:0 0 15%">Developer</div>
    <div class="p-1 text-center" style="flex:0 0 17%">Maintenance Status</div>
  </div>

  @if(Model.Games != null) {
    @foreach (Game g in Model.Games) {
      <a class="d-flex @Model.GameClass(g)" asp-page="./Game" asp-route-GameID="@g.GameID">
        <div class="p-1 text-end" style="flex:0 0 4%">@(g.Year?.ToString() ?? "-")</div>
        <div class="p-1" style="flex:0 0 25%">
          @(g.Name ?? "-")
          @if (!string.IsNullOrEmpty(g.ModForGameID))
          {
            @($" ({g.ModForGameID} mod)")
          }
        </div>
        <div class="p-1 text-center" style="flex:0 0 10%">@(g.EngineID ?? "-")</div>
        <div class="p-1 text-center" style="flex:0 0 4%">
          @if (g.Genre != null)
          {
            @if (g.Genre == Genre.FPS) { <img src="~/image/fps.svg" alt="@g.Genre" title="First-Person Shooter" /> }
            else if (g.Genre == Genre.RTS) { <img src="~/image/rts.svg" alt="@g.Genre" title="Real-Time Strategy" /> }
            else if (g.Genre == Genre.MOBA) { <img src="~/image/moba.svg" alt="@g.Genre" title="Multiplayer Online Battle Arena" /> }
            else if (g.Genre == Genre.TBS) { <img src="~/image/tbs.svg" alt="@g.Genre" title="Turn-Based Strategy" /> }
            else { @g.Genre.ToString() }
          }
          else
          {
            @("-")
          }
        </div>
        <div class="p-1 text-center" style="flex:0 0 15%">
          @if (g.IsOpenSource == true)
          {
            <img src="~/image/opensource.svg" alt="Open Source" title="Free Open Source Software" />
            @if (g.IsPaid == true)
            {
              <img src="~/image/paid.svg" alt="Paid" title="Paid Title" />
            }
          }
          else
          {
            @if (g.IsFree == true)
            {
              <img src="~/image/free.svg" alt="Free" title="Free to Play" />
            }
            @if (g.IsPaid == true)
            {
              <img src="~/image/paid.svg" alt="Paid" title="Paid Title" />
            }
            @if (g.IsFree != true && g.IsPaid != true)
            {
              @("-")
            }
          }
        </div>
        <div class="p-1 text-center" style="flex:0 0 15%">@(g.Developer ?? "-")</div>
        <div class="p-1 text-center" style="flex:0 0 17%">
          @if (g.RequiresCommunityPatch)
          {
            <img src="~/image/patch.svg" alt="Needs Patches" title="Needs Patches" />
          }
          else
          {
            @if (g.IsDeveloperMaintained == true)
            {
              <img src="~/image/dev.svg" alt="Dev Maintained" title="Developer Maintained" />
            }
            @if (g.IsCommunityMaintained == true)
            {
              <img src="~/image/comm.svg" alt="Community Maintained" title="Community Maintained" />
            }
            @if (g.IsDeveloperMaintained != true && g.IsCommunityMaintained != true)
            {
              @("-")
            }
          }
        </div>
      </a>
    }
  }
</section>
