@page
@model ASP_site.Pages.Books.Clarke.IndexModel
@using ASP_site.Models

@{
    ViewData["Title"] = "Arthur C. Clarke";
    ViewData["ActivePage"] = "Clarke";
}

<form class="mb-4">
    <div class="row align-items-end">
        <div class="col-md-5">
            <h2 class="display-3">Arthur C. Clarke</h2>
        </div>
        <div class="col-md-7">
            <div class="d-flex justify-content-end align-items-end">
                <div class="form-group me-2">
                    <label class="form-label" for="search-input">Search:</label>
                    <div class="input-group">
                        <input id="search-input" class="form-control" type="text" asp-for="SearchString" />
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="sort-select">Sort by:</label>
                    <select id="sort-select" class="form-control" asp-for="SortField" asp-items="Model.SortOptions" onchange="this.form.submit();"></select>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-md-2">
            <label class="form-label fw-bold">Type:</label>
            @foreach (var type in Model.AllBookTypes)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedBookTypes" value="@type.Key" id="type_@type.Key.GetHashCode()" checked="@(Model.SelectedBookTypes.Contains(type.Key))" onchange="this.form.submit();" />
                    <label class="form-check-label" for="type_@type.Key.GetHashCode()">@type.Value</label>
                </div>
            }
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Tags:</label>
            @foreach (var tag in Model.AllTags)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedTags" value="@tag.Key" id="tag_@tag.Key.GetHashCode()" checked="@(Model.SelectedTags.Contains(tag.Key))" onchange="this.form.submit();" />
                    <label class="form-check-label" for="tag_@tag.Key.GetHashCode()">@tag.Value</label>
                </div>
            }
        </div>
        <div class="col-md-8">
            <label class="form-label fw-bold">Collections:</label>
            <div class="row">
                @foreach (var chunk in Model.AllCollections.Select((value, i) => new { i, value }).GroupBy(x => x.i / (int)Math.Ceiling((double)Model.AllCollections.Count / 3)))
                {
                    <div class="col-4">
                        @foreach (var item in chunk)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedCollections" value="@item.value.Key" id="coll_@item.value.Key.GetHashCode()" checked="@(Model.SelectedCollections.Contains(item.value.Key))" onchange="this.form.submit();" />
                                <label class="form-check-label" for="coll_@item.value.Key.GetHashCode()">@item.value.Value</label>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<p>
    <a href="https://en.wikipedia.org/wiki/Arthur_C._Clarke">Arthur C. Clarke</a> (1917-2008) was one of the most prolific 
    and influential science fiction writers of the 20th century. His short stories have been collected in various anthologies, 
    this page should help show the collections available, but the largest collection, 'The Collected Stories of Arthur C. Clarke', 
    covers nearly all of his short stories and is available in print in paperback. Clarke is most famous for his 
    <a href="https://en.wikipedia.org/wiki/Space_Odyssey">Space Odyssey</a> series, 
    the first two, 2001 and 2010 have been adapted into movies. There's also an underrated sequel trilogy, 
    <a href="https://en.wikipedia.org/wiki/A_Time_Odyssey">Time Odyssey</a>.
    The first two novels of the series, 2001 and 2010, have been adapted into movies.
</p>
<p>
    Clarke appeared in the 1988 documentary God, The Universe and Everything Else, along with Carl Sagan and Stephen Hawking. This is available 
    <a href="https://www.youtube.com/watch?v=HKQQAv5svkk">on youtube</a>.
    Clarke also hosted a BBC TV series called <a href="https://en.wikipedia.org/wiki/Arthur_C._Clarke%27s_Mysterious_World">Arthur C. Clarke's Mysterious World</a> 
    in 1980, which is available <a href="https://www.youtube.com/watch?v=8mEJ7iPhQ-0&list=PLR3QQaw7JuhsKq5D3rwic_wMKMN-NCOHH">on youtube</a>. 
    The sequel series <a href="https://en.wikipedia.org/wiki/Arthur_C._Clarke%27s_World_of_Strange_Powers">Arthur C. Clarke's World of Strange Powers</a> 
    was broadcast in 1985, and also available <a href="https://www.youtube.com/watch?v=BbK5_qn4DIo&list=PLWxnRtUmHrZJyv-XQffAhQJfxxP92xEI6">on youtube</a>.
    This was followed by a third series on Discovery Channel called <a href="https://en.wikipedia.org/wiki/Arthur_C._Clarke%27s_Mysterious_Universe">Arthur C. Clarke's Mysterious Universe</a> 
    which was broadcast in 1994, and is available <a href="https://www.youtube.com/watch?v=0vwbxGIOLeA&list=PLWxnRtUmHrZIwhYBBjH3XhxKm5sxVRZ6l">on youtube</a>.
</p>

<section class="grid mt-3">
    <div class="row g-0 bg-dark text-white fw-bold">
        <div class="p-1 text-center col-1">Year</div>
        <div class="p-1 text-center col-1">Type</div>
        <div class="p-1 text-start col-3">Title <i>(@(Model.Books?.Count ?? 0) shown)</i></div>
        <div class="p-1 text-start col-2">Tags</div>
        <div class="p-1 text-start col-5">Collections</div>
    </div>

    @if(Model.Books != null && Model.Books.Any()) {
        foreach (var book in Model.Books) { 
            var collections = book.Tags.Where(t => t.Name.StartsWith("Collection: ")).ToList();
            var generalTags = book.Tags.Where(t => !t.Name.StartsWith("Collection: ")).ToList();

            <a asp-page="../Book" asp-route-BookTitle="@book.Title" class="row g-0 text-decoration-none text-reset border-bottom table-row-hover">
                <div class="p-1 text-center col-1">@book.PublicationYear</div>
                <div class="p-1 text-center col-1">@book.Type</div>
                <div class="p-1 text-start col-3 text-white">@book.Title</div>
                <div class="p-1 text-start col-2">
                    @foreach (var tag in generalTags)
                    {
                        <span class="badge bg-secondary me-1">@tag.Name</span>
                    }
                </div>
                <div class="p-1 text-start col-5 d-flex flex-wrap align-content-start">
                    @foreach (var collection in collections)
                    {
                        <span class="badge bg-secondary me-1 mb-1">@collection.Name.Replace("Collection: ", "")</span>
                    }
                </div>
            </a>
        }
    } else {
        <p class="p-2">No books found matching your criteria.</p>
    }
</section> 

<style>
    .table-row-hover:hover {
        background-color: #303030;
    }
</style> 