@page
@model ASP_site.Pages.Books.Heinlein.IndexModel
@using ASP_site.Models
@using ASP_site.Helpers

@{
    ViewData["Title"] = "Robert A. Heinlein";
    ViewData["ActivePage"] = "Heinlein";
}

<form class="mb-4">
    <div class="row align-items-end">
        <div class="col-md-5">
            <h2 class="display-3">Robert A. Heinlein</h2>
        </div>
        <div class="col-md-7">
            <div class="d-flex justify-content-end align-items-end">
                <div class="form-group me-2">
                    <label class="form-label" for="search-input">Search:</label>
                    <div class="d-flex">
                        <input id="search-input" class="form-control" type="text" asp-for="SearchString" />
                        <button class="btn btn-primary ms-1" type="submit">Search</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="sort-select">Sort by:</label>
                    <select id="sort-select" class="form-control" asp-for="SortField" asp-items="Model.SortOptions" onchange="this.form.submit();"></select>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-md-2">
            <label class="form-label fw-bold">Type:</label>
            @foreach (var type in Model.AllBookTypes)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedBookTypes" value="@type.Key" id="type_@type.Key.GetHashCode()" checked="@(Model.SelectedBookTypes.Contains(type.Key))" onchange="this.form.submit();" />
                    <label class="form-check-label" for="type_@type.Key.GetHashCode()">@type.Value</label>
                </div>
            }
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Tags:</label>
            @foreach (var tag in Model.AllTags)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedTags" value="@tag.Key" id="tag_@tag.Key.GetHashCode()" checked="@(Model.SelectedTags.Contains(tag.Key))" onchange="this.form.submit();" />
                    <label class="form-check-label" for="tag_@tag.Key.GetHashCode()">@tag.Value</label>
                </div>
            }
        </div>
        <div class="col-md-8">
            <label class="form-label fw-bold">Collections:</label>
            <div class="row">
                @foreach (var chunk in Model.AllCollections.Select((value, i) => new { i, value }).GroupBy(x => x.i / (int)Math.Ceiling((double)Model.AllCollections.Count / 3)))
                {
                    <div class="col-4">
                        @foreach (var item in chunk)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedCollections" value="@item.value.Key" id="coll_@item.value.Key.GetHashCode()" checked="@(Model.SelectedCollections.Contains(item.value.Key))" onchange="this.form.submit();" />
                                <label class="form-check-label" for="coll_@item.value.Key.GetHashCode()">@item.value.Value</label>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<p>
    <a href="https://en.wikipedia.org/wiki/Robert_A._Heinlein">Robert A. Heinlein</a> (1907-1988) published 32 novels
    during his lifetime, with 3 more being published posthumously. Those include his 12 designated '<a href="https://en.wikipedia.org/wiki/Heinlein_juveniles">juveniles</a>', which were short novels
    for young boys. These make a great introduction to Heinlein, as they were for many young men at the time, but they lack the depth and
    deeper themes that Heinlein would develop in his later works. Starship Troopers marks the turning point, as it was rejected from his juvenile 
    publisher for the mature themes. This was made into the modern classic <a href="https://www.youtube.com/watch?v=HMYOdTqPpWg">1997 film by Paul Verhoeven</a> which is quite different from 
    the novel but still a great movie. Several other Heinlein works have been adapted for TV and movie, as well as several radio plays from the golden age of radio. 
    Many of his books are now available on audible, 'The Moon is a Harsh Mistress' is one of my favorites that I think is even better on audio, because it's written in an accent/dialect.  
    'Stranger in a Strange Land' is Heinlein's most famous work, influenctial on the hippy culture of the 1960s, but his later novels like 'Friday' are more accessible now, in way, to mature audiences.
    I created this page to organize and display his works. There were a lot of anthologies published during his lifetime and after, 
    some completely obsolete others, and some have confusing titles. Hopefully this organized list will help explore his works.
 </p>
 <p>
    My recommendation for short stories is the collection of '<a href="https://en.wikipedia.org/wiki/Future_History_(Heinlein)">Future History</a>' stories,
    <a href="https://en.wikipedia.org/wiki/The_Past_Through_Tomorrow">The Past Through Tomorrow</a>,
    which is out of print but available in hardcover and paperback, and is common to find in used book stores. 
    The paperback actually has a few more stories than the hardcover. <a href="https://en.wikipedia.org/wiki/Off_the_Main_Sequence">Off the Main Sequence</a>
    collects most of the short stories outside of the Future History chronology, including the ones from  
    <a href="https://en.wikipedia.org/wiki/Assignment_in_Eternity">Assignment in Eternity</a>
    which is probably my favorite Heinlein collection of short stories, often found in cheap used paperback.
    <a href="https://en.wikipedia.org/wiki/A_Heinlein_Trio">A Heinlein Trio</a> 
    is a hardcover collection of three great novels, but you can often find the paperbacks easier and cheaper. 
    <a href="https://en.wikipedia.org/wiki/Expanded_Universe_(book)">Expanded Universe</a>
    is less introductory and more expansive and varied, sometimes published as one volume and sometimes split into two volumes.
</p>

<section class="grid mt-3">
    <div class="row g-0 bg-dark text-white fw-bold">
        <div class="p-1 text-center col-1 col-sm-1">Year</div>
        <div class="p-1 text-center col-1 col-sm-1">Type</div>
        <div class="p-1 text-start col-5 col-sm-3">Title <i>(@(Model.Books?.Count ?? 0) shown)</i></div>
        <div class="p-1 text-start col-2 col-sm-2">Tags</div>
        <div class="p-1 text-start col-3 col-sm-5">Collections</div>
    </div>

    @if(Model.Books != null && Model.Books.Any()) {
        foreach (var book in Model.Books) { 
            var collections = book.Tags.Where(t => t.Name.StartsWith("Collection: ")).ToList();
            var generalTags = book.Tags.Where(t => !t.Name.StartsWith("Collection: ")).ToList();

            <a asp-page="../Book" asp-route-BookTitle="@book.Title" class="row g-0 text-decoration-none text-reset border-bottom table-row-hover">
                <div class="p-1 text-center col-12 col-sm-1">
                    @if (book.PublicationMonth.HasValue)
                    {
                        <span>@ViewHelper.GetMonthName(book.PublicationMonth), </span>
                    }
                    @book.PublicationYear
                </div>
                <div class="p-1 text-center col-12 col-sm-1">@book.Type</div>
                <div class="p-1 text-start col-12 col-sm-3 text-white">@book.Title</div>
                <div class="p-1 text-start col-12 col-sm-2">
                    @foreach (var tag in generalTags)
                    {
                        <span class="badge bg-secondary me-1">@tag.Name</span>
                    }
                </div>
                <div class="p-1 text-start col-12 col-sm-5 d-flex flex-wrap align-content-start">
                    @foreach (var collection in collections)
                    {
                        <span class="badge bg-secondary me-1 mb-1">@collection.Name.Replace("Collection: ", "")</span>
                    }
                </div>
            </a>
        }
    } else {
        <p class="p-2">No books found matching your criteria.</p>
    }
</section> 

<style>
    .table-row-hover:hover {
        background-color: #303030;
    }
</style> 