@page
@model ASP_site.Pages.Maps.IndexModel

@{
    ViewData["Title"] = "Maps";
}

<div class="jumbotron p-2 d-flex justify-content-between">
    <h2 class="mr-auto display-3">Maps List</h2>
    <form class="d-flex">
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="GameType" class="control-label">Game:</label>
            <select class="form-control" asp-for="GameType" onchange="this.form.submit();">
                <option value="All">All</option>
                <option value="Counterstrike">Counter-Strike</option>
                <option value="Team Fortress">Team Fortress</option>
            </select>
        </div>
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="Competitive" class="control-label">Competitive:</label>
            <select class="form-control" asp-for="Competitive" onchange="this.form.submit();">
                <option value="All">All</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="SearchString" class="control-label">Name:</label>
            <input class="form-control" type="text" asp-for="SearchString" />
            <input class="form-control" type="submit" value="Search" class="btn btn-primary btn-sm mr-auto" />
        </div>
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="SortField" class="control-label">Sort by:</label>
            <select class="form-control" asp-for="SortField" onchange="this.form.submit();">
                <option value="Name">Name</option>
                <option value="Competitive">Competitive</option>
                <option value="Description">Description</option>
            </select>
        </div>
    </form>
</div>

<p class="mt-3">
    This page lists maps from Counter-Strike and Team Fortress. Competitive maps are highlighted in <span class="text-primary fw-bold">yellow</span>. Click the row for more details and links for the map.
</p>

@if (Model.CSMaps.Count > 0) {
    <h3 class="mt-4">Counter-Strike Maps</h3>
    <section class="grid">
        <div class="row bg-dark text-white fw-bold g-0">
            <div class="p-1 col-sm-1">Map Name</div>
            <div class="py-1 px-0 text-center col-sm-2">Game Versions</div>
            <div class="p-1 col-sm">Description</div>
        </div>

        @foreach (var map in Model.CSMaps) {
            <a class="row g-0 text-decoration-none text-reset border-bottom" asp-page="./Map" asp-route-id="@map.MapID">
                <div class="p-1 col-sm-1 @(map.IsCompetitive ? "text-primary fw-bold" : "text-white")">@map.MapID</div>
                <div class="py-1 px-0 text-center col-sm-1 d-flex justify-content-around align-items-center">
                    @(map.GameInfo.Any(g => g.GameID == "cs16") ? Html.Raw("<img src=\"/image/cs16.svg\" alt=\"CS 1.6\" class=\"game-icon\" title=\"Counter-Strike 1.6\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                    @(map.GameInfo.Any(g => g.GameID == "csx") ? Html.Raw("<img src=\"/image/csx.svg\" alt=\"CSX\" class=\"game-icon\" title=\"Counter-Strike Xbox Edition (CSX)\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                    @(map.GameInfo.Any(g => g.GameID == "cscz") ? Html.Raw("<img src=\"/image/cscz.svg\" alt=\"CS:CZ\" class=\"game-icon\" title=\"Counter-Strike: Condition Zero\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                </div>
                <div class="py-1 px-0 text-center col-sm-1 d-flex justify-content-around align-items-center">
                    @(map.GameInfo.Any(g => g.GameID == "css") ? Html.Raw("<img src=\"/image/css.svg\" alt=\"CSS\" class=\"game-icon\" title=\"Counter-Strike: Source\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                    @(map.GameInfo.Any(g => g.GameID == "csgo") ? Html.Raw("<img src=\"/image/csgo.svg\" alt=\"CS:GO\" class=\"game-icon\" title=\"Counter-Strike: Global Offensive\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                    @(map.GameInfo.Any(g => g.GameID == "cs2") ? Html.Raw("<img src=\"/image/cs2.svg\" alt=\"CS2\" class=\"game-icon\" title=\"Counter-Strike 2\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                </div>
                <div class="p-1 col-sm">@map.Description</div>
            </a>
        }
    </section>
}

@if (Model.TFMaps.Count > 0) {
    <h3 class="mt-4">Team Fortress Maps</h3>
    <section class="grid">
        <div class="row bg-dark text-white fw-bold g-0">
            <div class="p-1 col-sm-1">Map Name</div>
            <div class="py-1 px-0 text-center col-sm-2">Game Versions</div>
            <div class="p-1 col-sm">Description</div>
        </div>

        @foreach (var map in Model.TFMaps) {
            <a class="row g-0 text-decoration-none text-reset border-bottom" asp-page="./Map" asp-route-id="@map.MapID">
                <div class="p-1 col-sm-1 @(map.IsCompetitive ? "text-primary fw-bold" : "text-white")">@map.MapID</div>
                <div class="py-1 px-0 text-center col-sm-1 d-flex justify-content-around align-items-center">
                    @(map.GameInfo.Any(g => g.GameID == "qwtf") ? Html.Raw("<img src=\"/image/qwtf.svg\" alt=\"QWTF\" class=\"game-icon\" title=\"QuakeWorld Team Fortress\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                    @(map.GameInfo.Any(g => g.GameID == "tfc") ? Html.Raw("<img src=\"/image/tfc.svg\" alt=\"TFC\" class=\"game-icon\" title=\"Team Fortress Classic\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                </div>
                <div class="py-1 px-0 text-center col-sm-1 d-flex justify-content-around align-items-center">
                    @(map.GameInfo.Any(g => g.GameID == "ff") ? Html.Raw("<img src=\"/image/ff.svg\" alt=\"FF\" class=\"game-icon\" title=\"Fortress Forever\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                    @(map.GameInfo.Any(g => g.GameID == "tf2") ? Html.Raw("<img src=\"/image/tf2.svg\" alt=\"TF2\" class=\"game-icon\" title=\"Team Fortress 2\" />") : Html.Raw("<span class=\"game-icon\"></span>"))
                </div>
                <div class="p-1 col-sm">@map.Description</div>
            </a>
        }
    </section> 
}
