@page
@model ASP_site.Pages.Links.IndexModel

@{
    ViewData["Title"] = "Links List";
}

<div class="jumbotron p-2 d-flex justify-content-between">
    <h2 class="mr-auto display-3">Links List</h2>
    <form class="d-flex">
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="SelectedGame" class="control-label">Game:</label>
            <select class="form-control" asp-for="SelectedGame" asp-items="Model.Games" onchange="this.form.submit();">
                <option value="">All</option>
            </select>
        </div>
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="SelectedLinkType" class="control-label">Type:</label>
            <select class="form-control" asp-for="SelectedLinkType" asp-items="Model.LinkTypes" onchange="this.form.submit();">
                <option value="">All</option>
            </select>
        </div>
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="SearchString" class="control-label">Search:</label>
            <input class="form-control" type="text" asp-for="SearchString" />
            <input class="form-control" type="submit" value="Search" class="btn btn-primary btn-sm mr-auto" />
        </div>
        <div class="form-group ps-2">
            <label class="col-form-label" asp-for="SortField" class="control-label">Sort by:</label>
            <select class="form-control" asp-for="SortField" onchange="this.form.submit();">
                <option value="Game">Game</option>
                <option value="Type">Type</option>
                <option value="Label">Label</option>
                <option value="Description">Description</option>
            </select>
        </div>
    </form>
</div>

<section class="grid">
    <div class="row bg-dark text-white fw-bold g-0">
        <div class="p-1 col-sm-1 text-center">Game</div>
        <div class="p-1 col-sm-1 text-center">Type</div>
        <div class="p-1 col-sm-5">Label</div>
        <div class="p-1 col-sm-5">Description <i>(@(Model.Links?.Count ?? 0) shown)</i></div>
    </div>

    @if(Model.Links != null) {
        @foreach (Link link in Model.Links) {
            <div class="row g-0 border-bottom">
                <div class="p-1 col-sm-1 text-center">
                    @if(!string.IsNullOrEmpty(link.GameID)) {
                        <a asp-page="/Games/Game" asp-route-GameID="@link.GameID">@link.GameID</a>
                    } else if (!string.IsNullOrEmpty(link.MapID)) {
                        <a asp-page="/Maps/Map" asp-route-MapID="@link.MapID">@link.MapID</a>
                    } else {
                        <span>-</span>
                    }
                </div>
                <div class="p-1 col-sm-1 text-center">@link.LinkType</div>
                <a class="col-sm-10 row g-0 text-decoration-none text-reset" href="@link.Url">
                    <div class="p-1 col-sm-5 text-white">@(link.Label ?? "-")</div>
                    <div class="p-1 col-sm-7">@(link.Description ?? "-")</div>
                </a>
            </div>
        }
    }
</section> 